@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--White);
  border-radius: 0.5rem;
  font-family: "Montserrat", serif;
  display: grid;
  margin: 10%;
}

.product-image {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 200px;
  background: url("./images/image-product-mobile.jpg") no-repeat center
    center/cover;
}

.perfume-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
}
.heading {
  letter-spacing: 0.2rem;
  color: var(--Dark-grayish-blue);
  font-weight: 500;
  font-size: 0.8rem;
}

.title {
  font-family: "Fraunces", sans-serif;
  line-height: 2.1rem;
  padding: 0.5rem 0;
}

.description {
  color: var(--Dark-grayish-blue);
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.5rem;
}

.price {
  padding: 0.5rem 0;
  font-family: "Fraunces", sans-serif;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.price-big {
  color: var(--Dark-cyan);
  font-size: 2rem;
  font-weight: 700;
}

.price-small {
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
}

button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Montserrat", serif;
  background-color: var(--Dark-cyan);
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}

button:hover {
  background-color: hsl(158, 58%, 24%);
}

@media screen and (min-width: 750px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    border-radius: 0.75rem;
  }

  .product-image {
    border-radius: 0.75rem 0 0 0.75rem;
    height: 100%;
    background: url("./images/image-product-desktop.jpg") no-repeat center
      center/cover;
  }

  .perfume-details {
    gap: 1.2rem;
    padding: 1.75rem;
  }

  .heading {
    font-weight: 700;
    font-size: 1rem;
  }

  .title{
    font-size: 2.2rem;
  }

}
